<dialog>
    <form action="/message" method="post" class="message-form">
        <a href="/">Back to homepage</a>
        <label for="title">Title</label>
        <input type="text" name="title" id="title" maxlength="255" required />
        <label for="message">Message</label>
        <textarea name="message" id="message" maxlength="10000" required></textarea>
        <button>ADD MESSAGE</button>
    </form>
</dialog>
