<dialog>
    <form action="/add-message">
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" />
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
        <button>Submit</button>
    </form>
</dialog>
