<dialog>
    <form action="/message" method="post">
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" maxlength="255" required />
        <label for="message">Message</label>
        <textarea name="message" id="message" maxlength="10000" required></textarea>
        <button>Submit</button>
    </form>
</dialog>
