<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <img src="/icons/11.png" alt="user profile picture" />
        <a href="/log-in">Log in</a>
        <a href="/sign-up">Sign Up</a>
        <% messages.forEach(message => { %>
        <p>*****</p>
        <p>at <%= message.date %></p>
        <h3><%= message.title %></h3>
        <p><%= message.message %></p>
        <% }) %>
    </body>
</html>
