<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', {title: 'Members Only | Secret', css: 'secret.css'}) %>
    <body>
        <div class="btn-container">
            <form action="/log-out" method="post"><button class="logout-btn">Log out</button></form>
        </div>
        <form action="" method="post" class="membership-form">
            <h2>What is always coming but never arrives?</h2>
            <% if (locals.message){ %>
            <p><%= message %></p>
            <%}%>
            <input type="text" name="passcode" id="passcode" />
            <button>Submit</button>
            <a href="/">Back to homepage</a>
        </form>
    </body>
</html>
