<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>MEMBERSHIP</h1>
        <% if (locals.message){ %> <%= message %> <%}%>
        <form action="" method="post">
            <h1>What is always coming but never arrives?</h1>
            <input type="text" name="passcode" id="passcode" />
            <button>Submit</button>
        </form>
    </body>
</html>
