<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form action="" method="post">
            <label for="fullname">Full Name:</label>
            <input type="text" name="fullname" id="fullname" maxlength="255" required />
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" maxlength="255" required />
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required />
            <label for="passwordConfirm">Confirm Password:</label>
            <input type="password" name="passwordConfirm" id="passwordConfirm" required />
            <button>Submit</button>
        </form>
    </body>
</html>
