.delete-btn {
    padding: 0.5rem;
    font-weight: 600;
    color: var(--text-color);
    background-color: var(--text-error);
    cursor: pointer;
}

.delete-btn:hover {
    color: var(--text-active);
}

.secret-container,
.message-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem auto 0 auto;
}

.message-btn {
    margin: 0 auto;
    padding: 1rem;
    border: dashed 2px var(--text-color);
    font-size: 1rem;
    color: var(--text-color);
    background: none;
    cursor: pointer;
}

.message-btn:hover {
    text-decoration: underline;
    border-style: solid;
}

.secret-btn {
    width: 3%;
    color: var(--text-color);

    img {
        width: 100%;
        transition: transform 100ms ease-in;
    }
}

.secret-btn:hover {
    img {
        transform: scale(1.2);
    }
}

dialog {
    width: 40%;
    height: 50vh;
    padding: 0;
    border: none;
    overflow: hidden;
    .message-form {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        background-color: var(--background-color);

        a {
            margin-bottom: 1rem;
            font-size: 13px;
            color: #0284c7;
        }

        a:hover {
            text-decoration: underline;
        }

        label {
            margin-bottom: 0.2rem;
            font-weight: 600;
            color: var(--text-color);
        }

        input,
        textarea {
            width: 95%;
            margin-bottom: 1rem;
        }

        input {
            padding: 0.5rem 0.5rem 0.4rem 0;
        }

        textarea {
            resize: none;
            padding: 0.5rem 0.5rem 10rem 0;
        }

        button {
            width: 20%;
            padding: 0.5rem;
            margin: 0 auto;
            font-family: var(--text-font);
            font-weight: 600;
            cursor: pointer;
        }
    }
}
