.delete-btn {
    padding: 0.5rem;
    font-weight: 600;
    color: var(--text-color);
    background-color: var(--text-error);
    cursor: pointer;
}

.delete-btn:hover {
    color: var(--text-active);
}

.secret-container,
.message-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem auto 0 auto;
}

.message-btn {
    margin: 0 auto;
    padding: 1rem;
    border: dashed 2px var(--text-color);
    font-size: 1rem;
    color: var(--text-color);
    background: none;
    cursor: pointer;
}

.message-btn:hover {
    text-decoration: underline;
    border-style: solid;
}

.secret-btn {
    width: 3%;
    color: var(--text-color);

    img {
        width: 100%;
        transition: transform 100ms ease-in;
    }
}

.secret-btn:hover {
    img {
        transform: scale(1.2);
    }
}
