form {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 4rem 2rem;
    margin: 0 auto;
    transform: translateY(10vh);
    font-family: var(--text-font);
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);

    li {
        list-style-type: none;
        margin-top: 6px;
        font-size: 10px;
        color: var(--text-error);
    }

    h2 {
        margin: 0 0 2rem 0;
        align-self: center;
        font-size: 1.4rem;
        color: var(--text-color);
    }

    label {
        margin-bottom: 6px;
        font-size: 14px;
        color: var(--text-color);
    }

    input {
        padding: 8px;
        margin-bottom: 1rem;
        border: none;
        background-color: var(--background-color);
        color: white;
    }

    span {
        color: var(--text-error);
        font-size: 10px;
    }

    button {
        padding: 8px;
        border: none;
        font-family: var(--text-font);
        font-size: 16px;
        font-weight: 600;
        color: var(--text-color);
        background-color: #6366f1;
        cursor: pointer;
    }

    button:hover {
        background-color: #3730a3;
    }

    a {
        margin-top: 1rem;
        font-size: 12px;
        color: #0284c7;
    }

    a:hover {
        text-decoration: underline;
    }
}
